.CalculatorKeyPad {
  display: grid;
  grid-template-columns: repeat(4, min(2em, 24vw));
  grid-template-rows: repeat(4, min(2em, 24vw));
  gap: 0.05em;
}

@media (max-width: 800px) {
    .CalculatorKeyPad {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(4, 20vw);
        gap: 2px;
      }
  }

button {
    background-color: grey;
    border-radius: 5px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
  }

  button:hover {
    border: 1px solid #444;
  }
  
button:focus {
    outline: none;
  }