*, *:before, *:after {
    box-sizing: border-box;
  }

.App {
    margin: auto;
    margin-top: 1em;
    width: min-content;
    height: min-content;

    text-align: center;

    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 800px) {
    .App {
        font-size: 2.5em;
      }
  }